<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
		<div class="card">
           <div class="title">
             <h1>Edit Patient Information</h1>
           </div>
			<div id="content" class="pure-u-1">
				<div class="pad right">
					<button type="submit" form="theForm" class="pure-button"  value="Save">Save</button>
					<a class="pure-button"  data-th-if="${fromClientPage}" data-th-href="@{/clients/{c}(c=${command.client.id})}">Cancel</a>
					<a class="pure-button"  data-th-if="${!fromClientPage}" data-th-href="@{/pets}">Cancel</a>
					
					<a class="pure-button" data-th-if="${command.id != null}" data-th-href="@{'/pets/'+${command?.id}+'/delete'}">Delete</a>

				</div>
				<div class="pad">
					<form class="pure-form pure-form-aligned" id="theForm" action="#" data-th-action="@{/pets}" data-th-object="${command}" method="post">
						<input type="hidden" data-th-field="*{id}"/>
						<input type="hidden" id="fromClientPage" name="fromClientPage" data-th-value="${fromClientPage}"/>
						
					    <div data-th-if="${saved}" class="message-box-info">
							Saved
					    </div>

						<div class="pure-control-group">
				            <label>Client</label>
				            <span data-th-text="${command.client.name}"> client </span>
				        </div>
				        
						<div class="pure-control-group">
				            <label>Id</label>
				            <span data-th-if="${command.id == null}"> New </span>
  				            <span data-th-if="${command.id != null}" data-th-text="*{id}"> New </span>				            
				        </div>
		
				        <div class="pure-control-group">
				            <label for="name">Name</label>
				            <input id="name" name="name" type="text" data-th-field="*{name}">
				        </div>

				        <div class="pure-control-group">
				            <label>Gender</label>
							<select data-th-field="*{gender}">
							    <option data-th-value="''"></option>
							    <option data-th-value="'Female'" data-th-text="Female"></option>
							    <option data-th-value="'Male'" data-th-text="Male"></option>
							</select>
				        </div>
				        
				         <div class="pure-control-group">
				            <label>Client</label>
							<select th:field="*{clientId}">
  							<option th:each="client : ${clientList}" 
							          th:value="${client.id}" 
							          th:text="${client.name}"></option>
							</select>
				        </div>
						
						
				        <div class="pure-control-group">
				            <label for="altered">Altered</label>
				            <input id="altered" name="altered" type="checkbox" data-th-field="*{altered}">
				        </div>
				        
				        <div class="pure-control-group" data-th-if="${command.id != null}">
							<div data-th-if="${deleted}" class="message-box-info">
								Deleted successfully
							</div>
							<table class="fullWidth pure-table pure-table-horizontal" >
									<thead>
										<tr>
											<th>Appointment Id</th>
											<th>Title</th>
											<th>Date</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody data-th-if="${appointments.size() > 0}">	
										<tr data-th-each="apt : ${appointments}">
											<td> <a data-th-href="@{/appointments/{id}(id=${apt.id})}" data-th-text="${apt.id}">...</a></td>
											<td data-th-text="${apt.title}">...</td>
											<td data-th-text="${apt.date}">...</td>
											<td data-th-text="${apt.time}">...</td>										
										</tr>
									</tbody>
									<tbody data-th-if="${appointments.size() == 0}">
										<tr>
											<td  colspan=3>No associated appointments</td>
										</tr>
									</tbody>
								</table>
				        	</div>
				        
					</form>
					
							
				</div>
			</div>
		</div>
    </div>
    </div>
</body>
</html>




