<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
  <div id="container" class="content pure-g">
    <header th:replace="fragments/header.html :: header">
    </header>
	<div id="mainBody" class="pure-u pure-g column">
	  <div class="card">
          <h1>Appointments</h1>
			<div id="content" class="pure-u-1">
			
				<div class="pad right">	
				<button type="submit" form="theForm" class="pure-button primary-cta"
						value="Save"
					>Save</button>								
					<a class="pure-button secondary-cta" data-th-href="@{/appointments}">Cancel</a>
					<a class="pure-button secondary-cta" data-th-if="${command.id != null}" data-th-href="@{/appointments/{c}/delete(c=${command?.id})}">Delete</a>

				</div>
				<div class="pad page-table">
					<form class="pure-form pure-form-aligned form-style" id="theForm" action="#" data-th-action="@{/appointments}" data-th-object="${command}" method="post">
						<input type="hidden" data-th-field="*{id}"/>
					    <div data-th-if="${saved}" class="message-box-info">
							Saved
					    </div>

						<div class="pure-control-group group-style">
				            <label><span>Id</span></label>
				            <span data-th-if="${command.id == null}"> New </span>
  				            <span name="id" data-th-if="${command.id != null}" data-th-text="*{id}"> New </span>
				        </div>
		                <div class="pure-control-group group-style">
							<label><span>Client</span></label> 
							<select name= "clientId" data-th-field="*{clientId}" class="input-select">
								<option data-th-each="client : ${clients}" data-th-value="${client.id}" data-th-text="${client.name}">
								</option>
							</select>
						</div>
						<div class="pure-control-group group-style">
							<label><span>Pet</span></label> 
							<select name = "petId" data-th-field="*{petId}" class="input-select">
								<option data-th-each="pet : ${pets}" data-th-value="${pet.id}" data-th-text="${pet.name}">
							    </option>
							</select>
						</div>	
						<div class="pure-control-group group-style">
				            <label for="title"><span>Title </span></label>
				            <input id="title" name="title" class="input-field" value="" type="text" data-th-field="*{title}">
				        </div>
				        
				        <div class="pure-control-group group-style">
				            <label for="time"><span>Date </span></label>
				            <input id="date" class="input-field" name="date" type="date" data-th-field="*{date}">
				        </div>
				        
				        <div class="pure-control-group group-style">
							<label><span>Time</span></label> 
							<select name = "time" data-th-field="*{time}" class="input-field">
								<option data-th-each="time : ${availableTime}" data-th-value="${time}" data-th-text="${time}">
							    </option>
							</select>
						</div>		
                        
				        <div class="pure-control-group group-style">
				            <label for="notes"><span>Notes</span></label>
				            <textarea id="notes" class="input-area" value="" name="notes" type="text" data-th-field="*{notes}">
				            </textarea>
				        </div>
				        <div class="pure-control-group" data-th-if="${command.id != null}">
							<div data-th-if="${deleted}" class="message-box-info">
								Deleted successfully
							</div>
				        	</div>
				        </div>
						
						
					</form>
					

				</div>
			</div>
	</div>
	</div>
	</div>
</body>
</html>
