<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"> </header>
<body>
	<div id="container" class="content pure-g">
		<header th:replace="fragments/header.html :: header"> </header>
		<div id="mainBody" class="pure-u pure-g column">
			<div id="content" class="pure-u-1">
				<div class="pad right">
					<button type="submit" form="theForm" class="pure-button"
						value="Save"
					>Save</button>
					<a class="pure-button" data-th-href="@{/appointments}">Cancel</a> <a
						class="pure-button" data-th-if="${command.id != null}"
						data-th-href="@{/appointments/{c}/delete(c=${command?.id})}"
					>Delete</a>
				</div>
				<div class="pad">
					<form class="pure-form pure-form-aligned" id="theForm" action="#"
						data-th-action="@{/appointments}" data-th-object="${command}"
						method="post">
						<input type="hidden" data-th-field="*{id}" />
						<div data-th-if="${saved}" class="message-box-info">Saved</div>
						<div class="pure-control-group">
							<label>Id</label> 
							<span data-th-if="${command.id == null}">New </span> 
							<span name="id" data-th-if="${command.id != null}" data-th-text="*{id}"> New </span>
						</div>	
						<div class="pure-control-group">
							<label>Client</label> 
							<select name= "clientId" data-th-field="*{clientId}">
								<option data-th-each="client : ${clients}" data-th-value="${client.id}" data-th-text="${client.name}">
								</option>
							</select>
						</div> 
						<div class="pure-control-group">
							<label>Pet</label> 
							<select name = "petId" data-th-field="*{petId}">
								<option data-th-each="pet : ${pets}" data-th-value="${pet.id}" data-th-text="${pet.name}">
							    </option>
							</select>
						</div>					
						<div class="pure-control-group">
							<label for="title">Title</label> 
							<input id="title" name="title" type="text" data-th-field="*{title}">
						</div>
						<div class="pure-control-group">
							<label for="date">Date</label> 
							<input  id="date" name="date" type="date" data-th-field="*{date}">
						</div>
						<!-- 
						<div class="pure-control-group">
							<label for="time">Time</label> 
							<input id="time" name="time" type="text" data-th-field="*{time}">
						</div>
						 -->
						 <div class="pure-control-group">
							<label>Time</label> 
							<select name = "time" data-th-field="*{time}">
								<option data-th-each="time : ${availableTime}" data-th-value="${time}" data-th-text="${time}">
							    </option>
							</select>
						</div>		
						
						<div class="pure-control-group">
							<label for="notes">Notes</label>
							<textarea id="notes" name="notes" type="text" data-th-field="*{notes}">
				            </textarea>
						</div>
						<div class="pure-control-group" data-th-if="${command.id != null}">
							<div data-th-if="${deleted}" class="message-box-info">
								Deleted successfully</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
