<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head">
</header>

<body>
  <div id="container" class="content pure-g">
    <header th:replace="fragments/header.html :: header">
    </header>
    <div id="mainBody" class="pure-u pure-g column">
   <div class="card">
  <div class="title">
    <h1>Appointments</h1>
  </div>
      <div class="container-fluid clearfix" id="daily_calendar">
        <div>
          <h3 style="text-align: center;" th:text=${currentDate}>Today</h3>
        </div>
        <div style="padding:12px 0 12px 0; border-bottom: 1px solid #00c4cc;">
          <a class="pure-button secondary-cta" name="date" data-th-href="@{/appointments?date={date}(date=${dates.get('past')})}"><</a>          
          <a class="pure-button secondary-cta" name="date" data-th-href="@{/appointments?date={date}(date=${dates.get('future')})}">></a>
          <div style="float:right"><a class="pure-button primary-cta" data-th-href="@{/appointments/new}">New</a>
          </div>
        </div>
        <div class="columns clearfix">
          <div class="hour-column clearfix">
            <div class="hour">
              <div class="hours">
                <div class="hr">8 Am</div>
                <div class="hr">9 Am</div>
                <div class="hr">10 Am</div>
                <div class="hr">11 Am</div>
                <div class="hr">12 Pm</div>
                <div class="hr">1 Pm</div>
                <div class="hr">2 Pm</div>
                <div class="hr">3 Pm</div>
                <div class="hr">4 Pm</div>
                <div class="hr">5 Pm</div>
                <div class="hr">6 Pm</div>
                <div class="hr">7 Pm</div>
                <div class="hr">8 Pm</div>
              </div>
            </div>
          </div>
          <div class="event-column clearfix">
            <div class="hours-grid">
              <div class="grid">
                <a class="event" th:if="${TodayAppointments.containsKey('8')}"
                  th:href="@{/appointments/{id}(id=${TodayAppointments.get('8').getId()})}"
                  th:text="${TodayAppointments.get('8').getTitle()}"></a>
              </div>
              <div class="grid">
                <a class="event" th:if="${TodayAppointments.containsKey('9')}"
                  th:href="@{/appointments/{id}(id=${TodayAppointments.get('9').getId()})}"
                  th:text="${TodayAppointments.get('9').getTitle()}"></a>
              </div>            
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('10')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('10').getId()})}"
                th:text="${TodayAppointments.get('10').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('11')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('11').getId()})}"
                th:text="${TodayAppointments.get('11').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('12')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('12').getId()})}"
                th:text="${TodayAppointments.get('12').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('13')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('13').getId()})}"
                th:text="${TodayAppointments.get('13').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('14')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('14').getId()})}"
                th:text="${TodayAppointments.get('14').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('15')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('15').getId()})}"
                th:text="${TodayAppointments.get('15').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('16')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('16').getId()})}"
                th:text="${TodayAppointments.get('16').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('17')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('17').getId()})}"
                th:text="${TodayAppointments.get('17').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('18')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('18').getId()})}"
                th:text="${TodayAppointments.get('18').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('19')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('19').getId()})}"
                th:text="${TodayAppointments.get('19').getTitle()}"></a>
            </div>
            <div class="grid">
              <a class="event" th:if="${TodayAppointments.containsKey('20')}"
                th:href="@{/appointments/{id}(id=${TodayAppointments.get('20').getId()})}"
                th:text="${TodayAppointments.get('20').getTitle()}"></a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>
</html>
